<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">{{'ON_MY_DEVICE'|translate}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="contacts">{{ 'CONTACTS' | translate }} <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="contacts/add">{{ 'ADD_CONTACT' | translate }} <span class="sr-only"></span></a>
        </li>
      </ul>
      <div class="d-flex">
        <div class="dropdown me-2">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ 'LANGUAGE' | translate }}
          </a>
        
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" (click)="switchLanguage('en')">English</a></li>
            <li><a class="dropdown-item" href="#"(click)="switchLanguage('tr')">Türkçe</a></li>
          </ul>
        </div>
          <button class="btn btn-outline-primary" (click)="toggleTheme()">
            {{ getToggleButtonLabel() }}
      </button>
        </div>
      
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
